
@font-face{
    font-family: 'Merriweather';
    src: url('../Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
    
    background-color: #1E1F20;
}
header{
    font-family: Merriweather, Bahnschrift SemiBold, Arial;
    color: white;
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-size: 50px;
}


main{
    color: white;
    text-align: center;
    margin: 50px;
    font-size:medium;
}
h1{
    font-size: 35px; 
    color: #be0003; 
    font-style: italic; 
    font-family: Merriweather, Bahnschrift SemiBold, Arial;
}

.butao_formulário{
    border: 3px solid #be0003;
    color: goldenrod;
    background-color: #202122;
    text-align: center;
    font-weight: 600;
    text-decoration:none;/*tira o underline do herf*/
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
}

.butao_formulário:hover{
    border-color: #be0003;
    background-color: white;
    color: red;
}


