*{
    
    margin: 0;/*Serve para deixar sem margem*/
    padding: 0;/*Serve para deixar sem interior*/
    box-sizing: border-box;/*Serve para definir o tamanho total de um elemento (largura e altura)*/
}

body{
    display: flex;/*Deixa os intens lado a lado na mesma linha*/
    justify-content: center;/*Alinha os itens no eixo do x*/
    align-items: center;/*Alinha os itens no eixo do x*/
    margin: 0px 2%;
    min-height: 100vh; /*server para ver a tela toda*/
    background-color: #1C1C1A;
}
/*Inicio Da Classe main_Form*/
    .main_Form{
        display: flex;
        position: relative;/*Serve para deixar os itens de forma relativa*/
        border-radius: 20px;/*Deixa a borda redonda*/
        background-color: white;
        width: 80%;
        height: 80%;
        overflow: hidden;/*Serve para esconder os itens quando eles passarem da margem do bloco*/
    }

    /*Inicio Da Classe main_Form_Esquerda*/
        .main_Form_Esquerda{
            flex: 1;/*Diz o espaço que vai ocupar*/
            overflow: hidden;
        }
        .Main_Form_Esquerda img{
            width: 100%;
            height: 100%;
        }
    /*Fim Da Classe Main_Form_Esquerda*/


    /*Inicio Da Classe main_Form_Direita*/
        .main_Form_Direita{
            flex: 2;/*Diz o espaço que vai ocupar*/
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .main_Form_Direita button{
                border: 2px solid red;
                border-radius: 20px;
                background-color: #ffffff;
                color: red;
                margin: 5px;
                padding: 10px;
                transition: 0.5s;
            }

            .main_Form_Direita button:hover{
                background-color: red;
                color: white;
            }
        /*Inicio da subclasse Dados_Pesoais*/
            .Dados_Pesoais{
                display: block;
                flex-direction: row;
                width: 100%;
                height: 100%;
                padding: 20px;
                overflow: hidden;
                margin: 20px 
            }

            .Dados_Pesoais h1{
                font-size: 45px;
                justify-content: center;
                text-align: center;
                padding: 10px;
                margin-right: 8%;
            }

            .Dados_Pesoais h2{
                margin: 5px 0px;
                font-size: 20px;
            }

            .Dados_Pesoais input{
                background-color: rgb(230, 228, 228);
                border: none;
                border-radius: 10px;
                outline: none;
                width: 45%;
                height: 7%;
                padding: 10px;
                margin-right: 25px;
                margin-bottom: 5px;
                font-size: 15px;
            }
            /*Inico da Configuração das subclasse Nome_Data*/
                .Nome_Data{
                    display: flex;
                    gap: 42%;/*Espaço entre os itens*/
                }
            /*Fim da Configuração das subclasses Nome_Data*/

            /*Inico da Configuração das subclasse Contribuinte_Cartao*/
                .Contribuinte_Cartao{
                    display: flex;
                    gap: 17%;
                }
            /*Fim da Configuração das subclasse Contribuinte_Cartao*/

            /*Inico da Configuração das subclasse Morada_Localidade*/
                .Morada_Localidade{
                    display: flex;
                    gap: 39%;
                }
            /*Fim da Configuração das subclasses Morada_Localidade*/

            /*Inicio da Configuração Cod_Postal*/
                .Cod_Postal{
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                    margin-right: 30px;
                }
                .Input1 {
                    display: flex;
                    justify-self: center;
                }
            /*Fim da Configuração Cod_Postal*/

            .Dados_Pesoais button{
                display: flex;
                justify-self: center;
                border: 2px solid red;
                border-radius: 20px;
                background-color: #ffffff;
                color: red;
                margin-top: 20px;
                margin-left: -5%;
                padding: 10px;
                transition: 0.5s;
            }

            .Dados_Pesoais button:hover{
                background-color: red;
                color: white;
            }
        /*Fim da subclasse Dados_Pesoais*/

        /*Inicio da subclasse Contactos*/
            .Contactos{
                display: none;
                flex-direction: row;/*Alinha na horizotal*/
                width: 100%;
                height: 100%;
                padding: 20px;
                overflow: hidden;
                margin: 20px 
            }

            .Contactos h1{
                font-size: 40px;
                justify-content: center;/*Alinha no eixo do x*/
                text-align: center;/*Alinha no eixo do y*/
                margin-right: 8%;
                margin-bottom: 5px;
            }

            .Contactos h2{
                font-size: 25px;
            }

            .Contactos label{
                font-size: 20px;
            }

            .Contactos input{
                background-color: rgb(230, 228, 228);
                border: none;
                border-radius: 10px;
                outline: none;
                width: 45%;
                height: 6%;
                padding: 10px;
                margin-right: 25px;
                margin-bottom: 5px;
                font-size: 15px;
            }

            /*Inico da Configuração das subclasse Proprio_Tel_Email*/
                .Proprio_Tel_Email{
                    display: flex;
                    gap: 39%;
                }
            /*Fim da Configuração das subclasse Proprio_Tel_Email*/

            /*Inico da Configuração das subclasse Pai_Tel_Email*/
                .Pai_Tel_Email{
                    display: flex;
                    gap: 39%;
                }
            /*Fim da Configuração das subclasse Pai_Tel_Email*/

            /*Inico da Configuração das subclasse Mae_Tel_Email*/
                .Mae_Tel_Email{
                    display: flex;
                    gap: 39%;
                }
            /*Fim da Configuração das subclasse Mae_Tel_Email*/

            /*Inico da Configuração das subclasse Urgente*/
                .Urgente{
                    display: flex;
                    gap: 39%;
                }
            /*Fim da Configuração das subclasse Urgente*/

            .butoes{
                display: flex;
                justify-content: center;
                margin-top: 20px;
                margin-right: 7%;
            }
        /*Fim da subclasse Contactos*/



        /*Inicio da subclasse Pais*/
            .Pais{
                display: none;
                flex-direction: row;/*Alinha na horizotal*/
                width: 100%;
                height: 100%;
                padding: 20px;
                overflow: hidden;
                margin: 20px 
            }

            .Pais h1{
                font-size: 40px;
                justify-content: center;/*Alinha no eixo do x*/
                text-align: center;/*Alinha no eixo do y*/
                margin-left: -7%;
                margin-bottom: 1%;
            }
            
            .Pais h2{
                font-size: 30px;
            }

            .Pais label{
                font-size: 20px;
            }

            .Pais input{
                background-color: rgb(230, 228, 228);
                border: none;
                border-radius: 10px;
                outline: none;
                width: 45%;
                height: 6%;
                padding: 10px;
                margin-right: 25px;
                margin-bottom: 5px;
                font-size: 15px;
            }

            /*Inico da Configuração das subclasse Pai_cima*/
                .Pai_cima{
                    display: flex;
                    gap: 42%; 
                }
            /*Fim da Configuração das subclasse Pai_cima*/

            /*Inico da Configuração das subclasse Pai_Baixo*/
                .Pai_Baixo{
                    display: flex;
                    gap: 38%; 
                }
            /*Fim da Configuração das subclasse Pai_Baixo*/

            /*Inico da Configuração das subclasse Mae_Cima*/
                .Mae_Cima{
                    display: flex;
                    gap: 42%; 
                }
            /*Fim da Configuração das subclasse Mae_Cima*/

            /*Inico da Configuração das subclasse Mae_Baixo*/
                .Mae_Baixo{
                    display: flex;
                    gap: 38%; 
                }
            /*Fim da Configuração das subclasse Mae_Baixo*/

            .butoes{
                display: flex;
                justify-content: center;
                margin-top: 20px;
                margin-right: 4%;
            }

        /*Fim da subclasse Pais*/




        /*Inicio da subclasse Observacao*/
            .Observacao{
                display: none;
                flex-direction: row;/*Alinha na horizotal*/
                width: 100%;
                height: 100%;
                padding: 20px;
                overflow: hidden;
                margin: 20px 
            }

            .Observacao h1{
                font-size: 40px;
                justify-content: center;/*Alinha no eixo do x*/
                text-align: center;/*Alinha no eixo do y*/
                margin-left: -5%;
                margin-bottom: 20px;
            }

            .Observacao label{
                font-size: 20px;
            }
            .Observacao textarea{
                background-color: rgb(230, 228, 228);
                padding: 5px 10px;
                outline: none;
                margin: 20px;
                width: 90%;
                height: 50%;
                resize: none;
            }

            .butoes{
                display: flex;
                justify-content: center;
                margin-top: 20px;
                margin-left: -5%;
            }
        /*Fim da subclasse Observacao*/
        
    /*Fim Da Classe main_Direita*/
/*Fim Da Classe main_Form*/